*{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    max-width: 100%;
}

#wrap{
    width: 100%;
    position: relative;
}

#wrap>#box01,#wrap>#box02,#wrap>#box03,#wrap>#box04{
    width: 100%;
    padding: 72px 0;
}

#wrap article, #wrap header, #wrap footer{
    width: 1160px;
    margin: 0 auto;
}

#headerWrap{
    width: 100%;
    padding: 20px 0;
}

#headerWrap header{
    overflow: hidden;
}

#headerWrap h1{
    float: left;
}

#headerWrap nav{
    float: right;
}

header nav ul>li{
    display: inline-block;
    margin-left: 33px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

#headerWrap>header>nav>ul>li>ul{
    display: none;
}

