*{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    max-width: 100%;
}

#wrap{
    width: 100%;
    position: relative;
}

#wrap>#box01,#wrap>#box02,#wrap>#box03,#wrap>#box04{
    width: 100%;
    padding: 72px 0;
}

#wrap article, #wrap header, #wrap footer{
    width: 1160px;
    margin: 0 auto;
}
/* header */
#headerWrap{
    width: 100%;
    padding: 20px 0;
    position: fixed;    
    z-index: 100;
    transition: all .3s;
}

#headerWrap header{
    overflow: hidden;
}

#headerWrap h1{
    float: left;
}

#headerWrap nav{
    float: right;
}

#headerWrap nav>ul{
    line-height: 50px;
}

header nav ul>li{
    display: inline-block;
    margin-left: 33px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

#headerWrap>header>nav>ul>li>ul{
    display: none;
}

.hScroll{
    border-bottom: 1px solid #000;
    background-color: #fff;
}

/* box01 */
#wrap>#box01{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

#wrap #box01 article{
    width: 100%;
    margin: 0;
}

#box01 .slid{
    overflow: hidden;
}

#box01 ul{
    width: 300%;
    display: flex;
}

#box01 ul>li{
    width: 100%;
}

#box01 ul>li>img{
    width: 100%;
    height: 100%;
}