* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#wrap {
    width: 100%;
    position: relative;
}

#wrap>#box01,
#wrap>#box02,
#wrap>#box03,
#wrap>#box04,
#wrap>#box05,
#wrap>#box06,
#wrap>#box07 {
    width: 100%;
}

#wrap header,
#wrap footer {
    width: 90% /* 1160px */;
    margin: 0 auto;
}

/* header */
#headerWrap {
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: all .4s;
    padding: 20px 0;
}

#headerWrap header {
    display: flex;   
    justify-content: space-between;
}

#headerWrap ul {
    display: flex;
}

header ul>li {
    display: inline-block;
    margin: 0 16px;
    text-transform:uppercase;
    vertical-align: middle;
    line-height: 100px;
    transition: all .2s;
}
#headerWrap>header:first-child>ul>li:hover{ /* 밑줄 질문하기 */
    /* border-bottom: 2px solid #fff; */
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

#headerWrap>header>ul>li>ul {
    display: none;
}

.hScroll {
    background-color: #fff;
    box-shadow: 0 0 1px #000;
}

.imgCenter{
    margin-top: 38px;
}

/* box01 */
#box01 {
    height: 100vh;
    box-sizing: border-box;
    background: url('../images/main_visual1.jpg') no-repeat center top;
    background-size: 100vw 100vh;
    position: relative;
}

#wrap #box01 article {
    height: 100%;
    position: relative;
}
#box01 article h3{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    color: #fff;
    padding: 1.2em 2.1em;
    background-color: rgba(0, 0, 0, 0.61);
}


/* box02 */
#wrap>#box02{
    height: 888px;
}

#wrap>#box02>article{
    display: flex;
    height: inherit;
}

#box02 .leftBox{
    width: 50%;
    background-color: #e2e1dd;
    height: inherit;
    text-align: left;
    overflow: hidden;
    padding-left: 5%;
}

#box02 .leftBox .in{
    display: table;
    height: inherit;
    width: 100%;
    position: relative;
}

#box02 .leftBox .in .in_box{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding-bottom: 80px;
}

#box02 .leftBox .in .in_box h3{
    font: 40px 'MB',sans-serif;
    line-height: 44px;
    padding: 30px 0 20px;
    position: relative;
    letter-spacing: 5px;
}
#box02 .leftBox .in .in_box h3::after{
    content: "";
    display: block;
    border-top: 1px solid #a79678;
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

#box02 .leftBox .in .in_box strong{
    color: #1d1d1d;
    font-size: 40px;
    list-style: 44px;
    font-weight: 500;
    display: block;
}

#box02 .leftBox .in .in_box strong span{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #9b7b51;
    display: block;
    margin: 10px 0 20px;
}

#box02 .leftBox .in .in_box em{
    margin: 30px 0;
    font-weight: 500;
    font-size: 26px;
    display: block;
}

#box02 .leftBox .in .in_box p{
    font-size: 17px;
    color: #666;
    line-height: 24px;
    margin-bottom: 2.64em;
}

#box02 .leftBox .in_rolling{
    width: 600px;
    position: relative;
    z-index: 5;
}

#box02 .leftBox .in_rolling .in{
    height: 310px;
    display: block;
    position: relative;
}

#box02 .leftBox .in_rolling .in>.on{
    z-index: 5;
    opacity: 1;
}

#box02 .leftBox .in_rolling .in>div{
    width: 600px;
    min-height: 480px;
    position: absolute;
    left: 0; top: 0;
    opacity: 0;
    z-index: 3;
    transition: all .7s ease-in-out;
}

#box02 .leftBox .in_rolling .in>div>a{
    display: inline-block;
    background-color: #2d2d2d;
    padding: 30px 80px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 200;
    transition: all .3s ease-in-out;
    position: absolute;
    left: 250px;
    bottom: 35px;
    text-decoration: none;
}
#box02 .leftBox .in_rolling .in>div>a:hover{
    background-color: #9b7b52;
}

#box02 .leftBox .btn_box{
    position: absolute;
    left: 0;
    bottom: 115px;
    z-index: 15;
}

#box02 .leftBox .btn_box button:first-child{
    margin-left: 0;
}
#box02 .leftBox .btn_box button{
    margin-left: 20px;
    cursor: pointer;
    display: inline-block;
    height: 74px;
    overflow: hidden;
    vertical-align: top;
    border: none;
}
#box02 .leftBox button:hover img{
    margin-top: -74px;
}

#box02 .rightBox{
    width: 50%;
    height: inherit;
}

#box02 .rightBox .in_rolling .in, #box02 .rightBox .in_rolling{
    width: 100%;
    height: inherit;
}

#box02 .rightBox .in_rolling .in{
    position: relative;
}

#box02 .rightBox .in_rolling .in>.on{
    z-index: 5;
    opacity: 1;
    transition: all .4s ease-in-out;
}

#box02 .rightBox .in_rolling .in>div{
    width: 100%;
    position: absolute;
    left: 0; top: 0;
    overflow: hidden;
    bottom: 0;
    opacity: 0;
    transition: all .4s ease-in-out;
}

#box02 .rightBox img{
    transition: all .4s ease-in-out;
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
}

/* box03 */
#box03{
    background-color: #efefef;
}

#box03 article{
    width: 90%;
    margin: 0 auto;
    padding: 13.75em/* 220px */ 0 20em/* 320px */;
}

#box03 h3{
    font: 2.5em/* 40px */ 'MB', sans-serif;
    font-weight: bold;
    line-height: 44px;
    padding: 30px 0 20px;
    position: relative;
}
#box03 h3:after{
    content: "";
    display: block;
    border-top: 1px solid #a79678;
    width: 50px;
    position: absolute;
    left: 0; top: 0;
}

#box03 p{
    font: 17px #666;
    line-height: 24px;
    margin-bottom: 45px;
}

#box03 ul{
    position: relative;
    height: 100vh;
}

#box03 ul li{
    width: 20vmax/* 350px */;
    float: left;
    position: absolute;
    left: 0; top: 0;
    transition: all .4s ease-in-out;
}

#box03 ul li img{
    width: 100%;
}

#box03 ul li:nth-child(1){
    left: -2.5em/* -20px */;
}
#box03 ul li:nth-child(2){
    top: -10em/* -170px */;
    left: 23.4em/* 400px */;
}
#box03 ul li:nth-child(3){
    top: 19em/* 300px */;
    left: 23.4em;  
}
#box03 ul li:nth-child(4){
    top: -4.4em;
    left: 49em/* 820px */;
}

#box03 ul li:hover a{
    background: url('../images/bg_dim1.png') 0 0 repeat;
}
#box03 ul li a{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0.2em; right: 0;
    text-decoration: none;
    padding: 25px 0;
    padding-right: 35px;
    background: url('../images/bg_dim.png') 0 0 repeat;
    transition: all .4s ease-in-out;
}

#box03 ul li a span{
    color: #fff;
    background: url('../images/bg_arr.png') no-repeat right center;
    padding-right: 45px;
    float: right;
}

/* box04 */

#box04{
    padding: 110px 0;
}

#box04 article{
    width: 90%;
    margin: 0 auto;
}

#box04 h3{
    font: 40px bold;
    padding: 20px 0;
    text-align: center;
    position: relative;
}
#box04 h3:after{
    content: "";
    display: block;
    width: 50px;
    border-top: 1px solid #a79678;
    position: absolute;
    top: 0; left: 50%;
    transform: translate(-50%);
}

#box04 ul{
    display: flex;
    justify-content: space-between;
}

#box04 ul li{
    text-align: center;
}

#box04 ul li strong{
    display: block;
}
#box04 ul li strong:last-child{
    color: #bd8860;
}

#box04 ul li span{
    font-size: 14px;
    color: #999;
    display: block;
    font-weight: 300;
    line-height: 20px;
    padding: 10px 0;
    font-family: 'Arial', sans-serif;
}

/* box05 */
#box05{
    background: url('../images/bg_brandstory.jpg') 0 0 no-repeat;
    background-size: cover;
    height: 110vh;
    display: table;
}

#box05 article{
    display: table-cell;
    text-align: left;
    position: relative;
    height: inherit;
    padding-left: 55%;
}

#box05 h3{
    font-size: 70px;
    color: #fff;
    position: absolute;
    top: 150px; left: 10%;
    display: none;
}
#box05 h3:after{
    content: "";
    width: 50px;
    border-top: 1px solid #a79678;
    position: absolute;
    top: 0; left: 0;
}

#box05 .show{
    width: 700px;
    position: absolute;
    top: 50%; right: 30px;
    transform: translate(0, -50%);
}

#box05 span{
    font-size: 32px;
    line-height: 30px;
    margin-top: 250px;
    padding: 30px 0;
    color: #fff;
    position: relative;
    display: none;
}

#box05 p{
    color: #bfbfbf;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    width: 85%;
    display: none;
}

#box05 a{
    display: inline-block;
    margin-top: 40px;
    padding: 30px 80px;
    background-color: #2d2a24;
    color: #fff;
    text-decoration: none;
    display: none;
    
}
#box05 a:hover{
    background-color: #9b7b51;
}

/* box06 */
#box06{
    padding: 75px 0;
}

#box06 h3{
    text-align: center;
    padding: 0 0 2em;
}

#box06 ul{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

#box06 ul li{
    width: 200px;
    height: 210px;
    float: left;
    margin: 0 10px;
}

#box06 ul img{
    width: 100%;
}

/* footer */
#box07{
    background-color: #2e2e2e;
    padding: 3em 0;
}

#box07 footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#box07 p{
    font: 18px bold;
    color: #fff;
    width: 50%;
}

#box07 p>span{
    color: #eee;
    font: 14px bold;
    width: 50%;
    line-height: 50px;
}
    
#box07 a>img{
    width: 100px;
}