* {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

#wrap {
    width: 100%;
    position: relative;
}

#wrap>#box01,
#wrap>#box02,
#wrap>#box03,
#wrap>#box04 {
    width: 100%;
    padding: 72px 0;
}

#wrap article,
#wrap header,
#wrap footer {
    width: 1160px;
    margin: 0 auto;
}

/* header */
#headerWrap {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    z-index: 100;
    transition: all .4s;
}

#headerWrap header {
    display: flex;   
    justify-content: space-between;
}

#headerWrap ul {
    display: flex;
}

header nav ul>li {
    display: inline-block;
    margin-left: 33px;
    text-transform:uppercase;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#headerWrap>header>ul>li>ul {
    display: none;
}

.hScroll {
    background-color: #fff;
}

/* box01 */
#box01 {
    height: 100vh;
    box-sizing: border-box;
    background: url('../images/main_visual1.jpg') no-repeat center top;
    background-size: 100vw 100vh;
    position: relative;
}

#wrap #box01 article {
    height: 100%;
    position: relative;
}
#box01 article h3{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #fff;
    padding: 1.2em 3.1em;
    /* border: 2px solid #000; */
    background-color: rgba(0, 0, 0, 0.61);
}
